<div class="row justify-content-center" id="login-container">
  <div class="container">
  <form action="/login" method="post" class="text-center">
    <h2>Login</h2>
    <p>
    <h3>Username</h3>
    <input type="text" class="form-control" name="username">
    </p>
    <p>
    <h3>Password</h3>
    <input type="password" class="form-control" name="password">
    </p>
    <p>
      <input type="submit" class="btn btn-primary" name="login" value="Login">
    </p>
  </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col text-center">
    <h3>Cookie Policy</h3><br>
  <p>
    What are cookies and how do i reject them?<br>
    <a href="https://ico.org.uk/your-data-matters/online/cookies/">find out here.</a>
  </p>
  <p>
  The cookies we set are for the security and privacy of the data subjects mentioned and user that are registered on this site.<br>
  They are session cookies and will be destroyed if the server instructs them to be or you close your web browser.<br>
  The encrypted cookies contain a randomly generated combination of characters to identify you to the server which allows the server to know who is logged in.<br>
  We do not require permision for this cookie to be set on your browser.<br>
  </p>
  </div>
</div>

</div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>